/*nav bar*/

#navbar_img{
    border-radius: 50%;
}

.nav ul {  /* for horizontal nav bar list */
    list-style-type: none;
    padding: 0;
    
}

.nav li { /* to align list to the right */
    float: right;
    margin-right: 25px;
}

.nav li a { /* change font size of active link bar */
    font-size: 18px;
}

body{ /* body must be relative for navigation */
    /*font-family: Arvo;*/
    position: relative;
}

.nav .active a { /*change active background color*/
    background-color: white!important; 
}
.navbar { /*change navbar background color */
    background-color: #B8E2F2;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 20px 7px;
}

.navbar-brand { /* change navbar brand size */
    font-size: 25px;
}

#navbar_btn{
    background-color: #053f5c;
    color: #f5b118;
}

#navbar_btn:hover {
    background-color: #076391;
}

.collapse navbar-collapse{
    float: right;
}

#landing_page_image h1{
    position: absolute;
    top: 17%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: #f27f0c;
    font-size: 50px;
    padding-top: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    
}
#landing_page_image p{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: #f5b118;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    
}

#landing_page_image{
    position: relative;
    width: 100%;
}

#landing_page_image img {
    width: 100%;
    height:auto;
}

#landing_page_image .btn {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #B8E2F2;
    color: #053f5c;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

#landing_page_image .btn:hover {
    background-color: white;
}





#services{
    background-color: #053f5c;
    padding-top: 8%;
    padding-bottom: 2%;
}

#services h2{
    color: #f5b118;
}
#services h3{
    color: #B8E2F2;
}

#ourteam{
    padding-top: 8%;
    padding-bottom: 2%;
}

#ourteam h2{
    color: #f5b118;
}

.accordion > .accordion-item{
    color:darkgrey;
}



.responsive-cell-block {
    min-height: 75px;
}

.text-blk {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    line-height: 25px;
}

.responsive-container-block {
    min-height: 75px;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    justify-content: space-evenly;
}

.team-head-text {
    font-size: 48px;
    font-weight: 900;
    text-align: center;
}

.team-head-text {
    line-height: 50px;
    width: 100%;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 50px;
    margin-left: 0px;
}

#ourteam .card {
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 20px 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    padding-right: 25px;
    padding-bottom: 30px;
    padding-left: 25px;
}

.card-container {
    width: 280px;
    margin-top: 0px;
    margin-right: 10px;
    margin-bottom: 25px;
    margin-left: 10px;
}

.name {
    margin-top: 20px;
    margin-right: 0px;
    margin-bottom: 5px;
    margin-left: 0px;
    font-size: 18px;
    font-weight: 800;
}

.position {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
}

.feature-text {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    color: rgb(122, 122, 122);
    line-height: 30px;
}

.social-icons {
    width: 70px;
    display: flex;
    justify-content: space-between;
}

.team-image-wrapper {
    clip-path: circle(50% at 50% 50%);
    width: 130px;
    height: 130px;
}

.team-member-image {
    max-width: 100%;
}

#contactus h2{
    color: #f5b118;
}

.boxed{
    background-color:#B8E2F2;
}

.boxed h2{
    padding-top: 3%;
    padding-bottom: 3%;
}

.boxed h4{
    padding-top: 5%;
}


#contactuspage{
    display: grid;
    align-items: center; 
    grid-template-columns: 1fr 1fr;
    column-gap: 3%;
    padding-bottom: 3%;
}

.boxed img {
    max-width: 100%;
    max-height: 100%;
    padding-right: 8%;
}

.boxed .text {
    font-size: 100%;
    padding-left: 8%;
}


/*booking page*/

#title h1{
    color: #f27f0c;
    font-size: 40px;
    padding-top:40px;
}

#subtitle h2{
    color: #f5b118;
    font-size: 25px;
    padding-top:30px;
}

#inlineFormCustomSelect{
    position: absolute;
    z-index: 99;
}
