/*nav bar*/

#navbar_img{
    border-radius: 50%;
}

.nav ul {  /* for horizontal nav bar list */
    list-style-type: none;
    padding: 0;
    
}

.nav li { /* to align list to the right */
    float: right;
    margin-right: 25px;
}

.nav li a { /* change font size of active link bar */
    font-size: 18px;
}

body{ /* body must be relative for navigation */
    /*font-family: Arvo;*/
    position: relative;
}

.nav .active a { /*change active background color*/
    background-color: white!important; 
}
.navbar { /*change navbar background color */
    background-color: #B8E2F2;
}

.navbar-brand { /* change navbar brand size */
    font-size: 25px;
}

.collapse navbar-collapse{
    float: right;
}

#landing_page_image h1{
    position: absolute;
    top: 17%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: white;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    
}
#landing_page_image p{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: white;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    
}

#landing_page_image{
    position: relative;
    width: 100%;
}

#landing_page_image img {
    width: 100%;
    height:auto;
}

#landing_page_image .btn {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

#landing_page_image .btn:hover {
    background-color: black;
}